# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.obesity_env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (optional: uncomment if you DON'T want to push model)
# *.pkl

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE files
.vscode/
.idea/

# Flask instance folder
instance/

# Environment variables
.env

# Render / deployment artifacts
build/
dist/
*.egg-info/